In [15]:
import pandas as pd 
import os
import numpy as np

In [16]:
#import csv file 
df = pd.read_csv("election_data.csv.txt")
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [17]:
#The total number of votes cast
votes = df.shape[0]
votes

3521001

In [21]:
#list of candidates who received votes
candidate_df = df.dropna(how='any')
candidate_df
candidate_list = candidate_df["Candidate"].tolist()
#list(set(candidate_list))

In [69]:
#The percentage of votes each candidate won

In [14]:
#The total number of votes each candidate

NameError: name 'df' is not defined

In [ ]:
#The winner of the election based on popular vote

In [82]:
print('Election Results')
print('-------------------')
print(f'Total Votes: {votes}') #3521001
print('---------------------')
print('Khan:') #63.000% (2218231)
print('Correy:') #20.000% (704200)
print('Li:') #14.000% (492940)
print('O''Tooley:') #3.000% (105630)
print("------------------------")
print('Winner:') #Khan
print('------------------------')

Election Results
-------------------
Total Votes: 3521001
---------------------
Khan:
Correy:
Li:
OTooley:
------------------------
Winner:
------------------------