In [119]:
import pandas as pd 
import os
import numpy as np

In [120]:
#import csv file 
df = pd.read_csv("election_data.csv.txt")
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [121]:
#The total number of votes cast
votes = df.shape[0]
votes

3521001

In [122]:
#list of candidates who received votes
candidate_df = df.dropna(how='any')
candidate_df
candidate_list = candidate_df["Candidate"].tolist()
list(set(candidate_list))

['Li', 'Khan', "O'Tooley", 'Correy']

In [182]:
#The percentage of votes each candidate won
percentage = candidate_df['Candidate'].value_counts(normalize=True) *100
percentage =pd.DataFrame(percentage)
percentage['Candidate'] = percentage['Candidate'].map("{:,.2f}%".format)
percentage['Candidate'] = pd.DataFrame(percentage['Candidate'])
percentage['Candidate']
#output = percentage.to_string(formatters={
   # 'Candidate': '{:,.2%}'.format,
#})
#print(output)

Khan        63.00%
Correy      20.00%
Li          14.00%
O'Tooley     3.00%
Name: Candidate, dtype: object

In [183]:
#The total number of votes each candidate
total_votes= candidate_df['Candidate'].value_counts()
total_votes=pd.DataFrame(total_votes)
total_votes

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [184]:
#merge two data sets 
result = pd.concat([percentage['Candidate'], total_votes], axis=1, sort=False)
print(result.to_string(header=False))

Khan      63.00%  2218231
Correy    20.00%   704200
Li        14.00%   492940
O'Tooley   3.00%   105630

In [185]:
#The winner of the election based on popular vote
winner = total_votes.index.values[0]
winner

'Khan'

In [186]:
print('Election Results')
print('-------------------')
print(f'Total Votes: {votes}') #3521001
print('---------------------')
print(result.to_string(header=False))
#print(f'{total_votes}')
#print('Khan:') #63.000% (2218231)
#print('Correy:') #20.000% (704200)
#print('Li:') #14.000% (492940)
#print('O''Tooley:') #3.000% (105630)
print("------------------------")
print(f'Winner: {winner}') #Khan
print('------------------------')

Election Results
-------------------
Total Votes: 3521001
---------------------
Khan      63.00%  2218231
Correy    20.00%   704200
Li        14.00%   492940
O'Tooley   3.00%   105630
------------------------
Winner: Khan
------------------------

In [ ]:
#format columns 
#.map("%{:,.2f}".format)