In [31]:
import pandas as pd
import os
import numpy as np

In [57]:
#import csv file
df = pd.read_csv("budget_data.csv")
df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [15]:
#total number of months 
months = df.shape[0]
months

86

In [33]:
#net total amount of profits/losses over the entire period 
PL = df['Profit/Losses'].sum()

In [47]:
#average of the changes in proffit/losses 
# list of proffit/losses 
PLToList = list(df['Profit/Losses'])
a = np.diff(PLToList)
#find average
average = np.average(a)
np.average(a)

-2315.1176470588234

In [71]:
#greatest increase in proffit
max = np.amax(a)
max
itemindex = np.where(a==max)
itemindex

df2= df.iloc[[25]]
df2

      Date  Profit/Losses
25  Feb-12        1170593

In [160]:
#find data corresponding with itemindex
maxdate = df2.drop(columns='Profit/Losses')
maxdate

      Date
25  Feb-12

In [161]:
#convert maxdate to string
date= maxdate.to_string(header=None, index= False)
date

'Feb-12'

In [162]:
#greatest decrease in losses
min = np.amin(a)
min
itemindex = np.where(a==min)
itemindex

df3= df.iloc[[44]]
df3

      Date  Profit/Losses
44  Sep-13       -1196225

In [163]:
#find data correspoinding with min/itemindex
mindate = df3.drop(columns='Profit/Losses')
mindate

      Date
44  Sep-13

In [164]:
#convert list to string
date2= mindate.to_string(header=None, index= False)
date2

'Sep-13'

In [166]:
print("Financial Analysis")
print("-------------------")
print(f"Total Months: {months}")
print(f"Total: {PL}")
print(f"Average Change: ${average}")
print(f"Greatest Increase in Profits:{max}, {date}")
print(f"Greatest Decrease in Profits:{min}, {date2}")

Financial Analysis
-------------------
Total Months: 86
Total: 38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits:1926159, Feb-12
Greatest Decrease in Profits:-2196167, Sep-13